.card{
    width: 300px;
    
    overflow: hidden;
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgb(179, 226, 246);
    box-shadow: 5px 5px 12px rgb(95, 142, 252);
    position: relative;
}

.card-details{
    padding: 12px;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.button{
    position: absolute;
    top: 148px;
    right: 12px;
    z-index: 4;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}